* {
    box-sizing: border-box;
}
#hd_wrapper {
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
}
.header_href h2 a {
    text-decoration: none;
}

.middle {
    display: flex;
}

.menu {
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 1000px;
    margin-top: 10px;
}
.menu .menu_list li {
    list-style: none;
    padding: 10px;
}

.content {
    padding: 5px;
    margin-left: 30px;
    width: 75%;
}