<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="hd_wrapper"></div>
    <section class="main">
        <div class="middle">
            <div class="menu">
                <nav class="navbar"></nav>
            </div>
            <div class="content">
                <p th:text="${introduction}" class="tag"></p>
                <ul>
                    <li th:each="contents : ${content}">
                        <p th:text="${contents}"></p>
                    </li>
                </ul>
                <p th:text="${skills}" class="tag"></p>
                <ul>
                    <li th:each="skillsLists: ${skillsList}">
                        <p th:text="${skillsLists}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div id="ft"></div>
    <script src="js/top.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/event.js"></script>
</body>
</html>