<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <a class="top_header" href="/"> <header th:text="${spring}"> </header> </a>
    <section class="main">
        <div class="middle">
            <div class="menu">
                <nav class="navbar"></nav>
            </div>
            <div class="content">
                <h2 th:text="${introduction}"></h2>
                <ul th:each="contents : ${content}">
                    <li th:text="${contents}"></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="js/navbar.js"></script>
</body>
</html>