<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="hd_wrapper"></div>
    <section class="main">
        <div class="middle">
            <div class="menu">
                <nav class="navbar"></nav>
            </div>
            <div class="content">
                <h2 th:text="${introduction}"></h2>
                <ul>
                    <li th:each="contents : ${content}">
                        <h4 th:text="${contents}"></h4>
                    </li>
                </ul>
                <h2 th:text="${skills}"></h2>
                <ul>
                    <li th:each="skillsLists: ${skillsList}">
                        <h4 th:text="${skillsLists}"></h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script src="js/navbar.js"></script>
    <script src="js/top.js"></script>
</body>
</html>